<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngIf="weather">
    <ion-row>
      <h2 class="toolbar-title title-bar"><strong>Weather Forecast</strong></h2>
    </ion-row>
    <ion-row *ngFor="let item of weather.weather">
      <ion-col width-50 offset-25>
          <div class="icon"><img src="https://openweathermap.org/img/w/{{item.icon}}.png" alt="weather-icon"></div>
      </ion-col>
      <ion-col width-70>
        <h1 class="temp">{{weather?.main.temp}}&deg;</h1>
        <h3 class="desc">{{item.description}}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <h5 class="location">{{weather?.name}}, {{weather?.sys.country}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
          <ion-list>             
              <ion-item>
                  <strong>Wind: </strong> {{weather?.wind.speed}} m/s
              </ion-item>
              <ion-item>
                  <strong>Humidity: </strong> {{weather?.main.humidity}} &#37;
              </ion-item>
              <ion-item>
                  <strong>Pressure: </strong> {{weather?.main.pressure}} hpa
              </ion-item>
              <ion-item>
                  <strong>Geo coords: </strong> [ {{weather?.coord.lat}}, {{weather?.coord.lon}} ]
              </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
