.home {
    background-color:  color($colors, primary);
    color: color($colors, light);
    margin-top: 20px;
}
.toolbar-title {
    text-align: center;
}
.title-bar {
    font-size: 40px;    
}
.tabs-md, .tab-button-icon {
    color: #ccc;
}
.temp {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}
.location, .icon, .desc {
    text-align: center;
}
img {
    width: 80px;
}
.location {
    font-size: 20px;
}
.desc {
    font-size: 20px;
    text-transform: capitalize;
}
.strong-sunset {
    text-align: right;
}
.about-description {
    height: 200px;
}